---
title: What files ignore in git?
---
<div class="jumbotron">
  <h1>.gitignore files for your project!</h1>
    <p><input id="search" type="text" placeholder="Enter technology…" autocomplete="off"/></p>
    <p><a id="submit" class="btn btn-large btn-success"><i class="icon-search icon-white"></i> Search</a></p>
  </form>
</div>


<table class="table table-hover">
  <thead>
    <tr><td>Name</td><td>Tags</td><td>Raw</td></tr>
  </thead>
  
  <% articles.sort_by { |i| i[:title]}.each do |article| %>
    <tr>
      <td><%= link_to article[:title], article.path %></td>
      <td><%= article[:tags].join(', ') %></td>
      <td><a href="<%= article.path + '.gitignore' %>" download>Download</td>
    </tr>
  <% end %>
  
</table>

<script>
$(document).ready(function() {

  var tags = <%= articles.map { |i| i[:title] } %>;
  
  var links = { <% articles.each do |article| %>"<%= article[:title] %>" : "<%= article.path %>", <% end %>};

  $("#search").focus();
  $("#search").typeahead({ source: tags, items: 4 });

  $('#search').keydown(function(event){    
    if(event.keyCode==13){
     $('#submit').trigger('click');
    }
  });

  $("#submit").click(function() {
    var link = links[$("#search").val()];

    if (link != undefined) {
      window.location.href = link;
    }
  });
});
</script>
